@use "../abstracts/index" as *;

.devastato_primary_header {
  height: em(100px);
  max-height: em(100px);
  width: 100%;
  padding: em(15px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: em(15px);
  color: $color_main_white;
  background-color: $color_main_black;
  // This is to properly align all three items and have the middle item be centered nicely c:
  & .header_burger_icon,
  & .header_logo,
  & .header_search_field {
    flex: 1;
    display: flex;
    align-items: center;
  }
  & .header_burger_icon {
    justify-content: flex-start;
    & .icon_wrapper {
      z-index: 99;
    }
  }
  & .header_logo {
    justify-content: flex-end;
    & .logo_wrapper {
      transition: filter 250ms ease-in-out;
      &:hover {
        filter: brightness(95%);
      }
      & img {
        max-height: em(35px);
        width: auto;
        @include desktop {
          max-height: em(50px);
        }
      }
    }

    @include desktop {
      justify-content: center;
    }
  }
  & .header_search_field {
    justify-content: flex-end;
    display: none;
    & .search_wrapper {
      border-radius: em(5px);
      display: flex;
      align-items: stretch;
      border: solid em(2px) $color_main_white;
      padding: em(10px) em(15px);
      & input {
        border-radius: em(5px) 0 0 em(5px);
        border: 0;
        color: $color_main_white;
        font-family: $font_ruda;
        font-size: $font_size_16;
        background: transparent;
        &::placeholder {
          text-transform: uppercase;
          color: $color_main_white;
          font-family: $font_ruda;
          font-size: $font_size_16;
        }
        &:focus {
          outline: 0;
        }
        &::-webkit-search-cancel-button {
          cursor: pointer;
          filter: brightness(0) invert(1);
          margin-right: em(5px);
        }
      }
      & button {
        padding: 0;
        background-color: transparent;
        color: $color_main_white;
        font-size: $font_size_24;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    @include desktop {
      display: flex;
    }
  }
}

.navigation_opacity_background {
  z-index: 97;
  visibility: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: $color_main_black;
  opacity: 0%;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.navigation_menu_container {
  visibility: hidden;
  z-index: 98;
  position: absolute;
  top: 0;
  max-width: 0%;
  height: 100vh;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  transition: 250ms ease-in-out;
  & .navigation_menu {
    width: 100%;
    background-color: $color_main_white;
    min-height: 100vh;
    border-radius: 0 em(15px) em(15px) 0;
    display: flex;
    flex-direction: column;
    & .top_part_container {
      max-height: 100px;
      height: em(100px);
      padding: 15px;
      border: solid 1px red;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: em(48px);
    }
  }
}

// .navigation_menu {
//   z-index: 98;
//   overflow: hidden;
//   visibility: hidden;
//   width: 100%;
//   max-width: 0%;
//   height: 100vh;
//   background-color: $color_main_white;
//   transition: 250ms ease-in-out;
//   position: absolute;
//   top: 0;
//   border-radius: 0 em(25px) em(25px) 0;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   align-items: stretch;
//   padding: 0 em(15px);
//   color: $color_main_black;
//   & .menu_top_part {
//     height: em(100px);
//     max-height: em(100px);
//     padding: em(15px) 0;
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;
//     & a {
//       font-size: em(48px);
//       transition: color 250ms ease-in-out;
//       &:hover {
//         color: $color_main_light_black;
//       }
//     }
//   }
//   & ul {
//     display: flex;
//     flex-direction: column;
//     & .navigation_menu_links {
//       gap: em(10px);
//       display: flex;
//       flex-direction: row;
//       justify-content: flex-start;
//       align-items: center;
//       color: $color_main_black;
//       border-radius: em(5px);
//       padding: em(15px);
//       transition: background-color 250ms ease-in-out;
//       & h4 {
//         letter-spacing: em(1px);
//       }
//       & .menu_links_icons {
//         font-size: $font_size_24;
//       }
//       &:hover {
//         background-color: $color_main_ghost_white;
//       }
//       &:focus {
//         background-color: $color_main_ghost_white;
//       }
//     }
//   }
//   @include tablet {
//     width: em(400px);
//   }
// }
