// Main colors
$color_main_white: #fdfdfd;
$color_main_ghost_white: #f1f1f1;
$color_main_light_grey: #bbbbbb;
$color_main_dark_grey: #888888;
$color_main_light_black: #3d3d3d;
$color_main_black: #2d2d2d;
$color_main_green: #25fd5f;
$color_main_orange: #ff9900;
$color_main_red: #ff3e3e;
